.product-link{
    text-decoration: none;
    color: white;
    background-color: #F8923C;
    padding: 5px;
    border-radius: 5px;
    transition: 0.5s all ease;

}
.product-link:hover{
    background-color: #F04E4E;

}
.product-link.active{
   font-weight: bold;
   background-color: #F04E4E;

}