.card{
    border: 2px solid orange !important;
}
.card-img{
    height: 250px;
}
.product-img{
    height: 250px;
    width: 100%;
    padding: 50px;
    background-color: #F5F6F6;   
}
.detailsbtn{
    text-decoration: none;
    color: white;
    background-color: #F8923C;
    padding-block: 5px;
    padding-inline: 30px;
    border-radius: 10px;
    transition: 0.5s all ease;
}
.detailsbtn:hover{
    background-color: #F04E4E;
}